/* Make a variable for rows and columns */
/* root applies this globally to document*/
:root{
--grid-cols: 1;
--grid-rows: 1;
}

body{
    background-color: rgb(204, 238, 238);
    display: grid;
    justify-content: center;   
    text-align: center; 
    }

.container{
display: grid;
grid-template-columns: repeat(var(--grid-cols), 1fr);
grid-template-rows: repeat(var(--grid-cols), 1fr);   
height: 500px;
width: 500px;
background-color: white;
}

.restart{ /*button to restart*/
width: 20%;
justify-self: center;
}